In [2]:
str = "python"
print(str[2])

t

slicing in strings

In [ ]:
str = "python"

#  my_list2[start:stop:step]

i=str[1:]
j=str[:]
k=str[:5]
l=str[-4:-1] #negative indexing of string like n=-1, o=-2, h=-3 etc
a=str[::2] #every second index
b=str[::-1] # reverse the string
print(i)
print(j)
print(k)
print(l)
print(a)
print(b)

ython
python
pytho
tho
pto
nohtyp

string formatting

In [19]:
a="hello "
b="soumya"
c=21
d="year's old"
print("{} my name is {} ii am {} {} ".format(a,b,c,d))  #using format function
# an other formatting os f-strings
#positional and named placeholders
print("name: {x}, age {y}".format(x="soumya", y=20))
print("Coordinates:{1},{0}".format("x","y"))#'Coordinates:y,x'

hello  my name is soumya ii am 21 year's old
name: soumya, age 20
Coordinates:y,x

concatenation in string

In [ ]:
str1="jay"
str2="Shree"
str3="Ram"
print(f"{str1} {str2} {str3}")

jay Shree Ram

lists syntax

In [37]:
my_list =[1,2,3,4]
my_list2 =[1,"soumya",True,2.4,29]

print(my_list)
print(my_list2)
print(type(my_list2))


print(my_list2[2])
print(type(my_list2[2]))

print(my_list2[-2])
print(my_list2[1])
print(my_list2[-3])

my_list2[0]="hello" 
print(my_list2)    #thing is that lists are mutable

# my_list2[start:stop:step]  
# #slicing

[1, 2, 3, 4]
[1, 'soumya', True, 2.4, 29]
<class 'list'>
True
<class 'bool'>
2.4
soumya
True
['hello', 'soumya', True, 2.4, 29]

list methods .len(), .append(val) , .insert(idx,val), .sort(), .reverse()

In [52]:
ls=["hello",21,34,3.25,True]
ls1=[1,4,2,6,3,7,9]
print(len(ls))
print(ls.append(2))
print(ls)
ls.insert(2,"omega")
print(ls)
ls1.sort()
print(ls1)
ls1.sort(reverse=True)
print(ls1)  

ls.reverse()
print(ls)

5
None
['hello', 21, 34, 3.25, True, 2]
['hello', 21, 'omega', 34, 3.25, True, 2]
[1, 2, 3, 4, 6, 7, 9]
[9, 7, 6, 4, 3, 2, 1]
[2, True, 3.25, 34, 'omega', 21, 'hello']

linear search

In [54]:
li =[10,21,61,13,7]
idx=0
elem=13
for i in li:
    if(elem==i):
        print(f"element found at idx {idx}")
    idx+=1

element found at idx 3

tuples -->
A tuple in Python is an ordered, immutable collection of items. Example:
Ordered
2.
Immutable â€“ Items cannot be changed after the tuple is created.
3.
Allows duplicates
4.
Heterogeneous

In [59]:
tup =(12,23,11)
empty_tup=()
print(tup)
print(type(empty_tup))
print(empty_tup)
print(type(tup))

for i in tup:
    print(i)

(12, 23, 11)
<class 'tuple'>
()
<class 'tuple'>
12
23
11

slicing is as same as list and string

sum of nums using tuple

In [60]:
t = (3,2,5,38)
sum =0 
for i in t:
    sum+=i
print(sum)

48

Tuple Methods
index(val) return index of first occurance 
count(val) return the total count of the value
ex:

In [64]:
tup= (1,3,2,3,2,4,5,4,4,)
print(tup.index(4))
print("the 4 occure times of ",tup.count(4))

5
the 4 occure times of  3

Dictionary  ---- word ---->mean pairs
1.Dictionary Keys must be unique
2.Dictionary Keys must be immutable (e.g., strings, numbers, tuples)
3.Dictionary is mutable.
4.Dictionary values can be anything (lists, other dictionaries, etc.)
5.Unordered (although in modern Python, dictionaries preserve insertion order)

methods are .key(), .values(), .item(), .get(key), .update(key, value)

In [ ]:
student = {
    "name" : "soumya",
    "age" : 20,
    "cgpa" : 9.02,
    "pass" : True,
    3.14 : "Btech"
}
for i in student:
    print(i) # it only prints the key

for key,value in student.items():  #the student.items that acces all the elements so that we define and print in key and value way
    print(key,value)

print(student) #this will print as it is the dictionary

name
age
cgpa
pass
3.14
name soumya
age 20
cgpa 9.02
pass True
3.14 Btech
{'name': 'soumya', 'age': 20, 'cgpa': 9.02, 'pass': True, 3.14: 'Btech'}

A set is an unordered collection of unique elements. Example:
    Characteristics
1.Sets can only have unique elements.
2.They are unordered - no indexing or slicing.
3.They are mutable - we can add or remove elements.
4.Set elements must be immutable (like strings, numbers, tuples).

Sets are often used when we need uniqueness or mathematical set
operations.

Set Methods
1. add(val) - adds an element to set
2. remove(val) - removes an element (raises error if not found)
3. clear() - removes all elements
4. pop() - removes and returns a random element (since sets are unordered)
5. s1.union(s2) - returns new union (union is collection of all unique values in both sets)
6. s1.ntersection(s2) - returns new union (intersection is collection of all common & unique values in both sets)

In [88]:
my_set= {1,2,3,1,2,7}
my_set1 ={1,2,3,4,5,6,8}
print(my_set)

print(len(my_set))
print(my_set.add(12))
print(my_set)
my_set.remove(2)
print(my_set)
# my_set.clear()  # it return empty set which is set()
print(my_set) 

my_set.pop()
print(my_set)
my_set.pop()
print(my_set)

print(my_set.union(my_set1))
print(my_set)

print(my_set.intersection(my_set1))

{1, 2, 3, 7}
4
None
{1, 2, 3, 7, 12}
{1, 3, 7, 12}
{1, 3, 7, 12}
{3, 7, 12}
{7, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 12}
{7, 12}
set()